ACE_final.txt
ACE_Level2_Hourly (1)
ACElvl2.txt
ASCd7VrKf.zip
swepam_data_1day_2330.hdf
swepam_data_1hr.hdf

#test file originally attempting to download data. 
ACElvl_data_clean_test.ipynb

#test clusters and feature importance
#ACE Models_BM_Test.ipynb

tests/ACE Mission Cleaned.csv

.venv




#ACE_Mission_PCA.csv
